/*-----------------Faiza Berrichi----------------*/
/*-----------------Date:01/04/2021----------------*/
/*-----------------Version:01/01----------------*/

@font-face {
    font-family: 'star_jediregular';
    src: url('font/starjedi-webfont.woff') format('woff2'),
         url('font/starjedi-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;

}
body{
    color: aliceblue;
    background-image: url("images/outerspace-57.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: Tahoma;
}
.title{
    font-family: star_jediregular;
    margin-left:3%;
    margin-top:1%;
}
a{
   color:aliceblue;
}
a:hover{
    text-decoration: none;
    color:aliceblue;
}
    
 
    .cc-github:hover i {
        color: rgb(112, 112, 112); }
      
      .cc-behance:hover i {
        color:rgb(112, 112, 112); }
      
      .cc-linkedin:hover i {
        color: #007bb6; }
      
      .cc-wordpress:hover i {
        color: #21769b; }


    @media screen and (max-width: 980px){
        .flexy{
            display:flex;
            flex-direction:column;
        }
    }